* {
    padding: 0;
    margin: 0;
}

.body-main {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
    color: #626e84;
    font-family: 'Patrick Hand';
}

/* header */

.header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #F1F3FA;
    background: #FFF;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 16px 24px;
    box-sizing: border-box;
}

.header-right_aligned {
    display: flex;
    flex-direction: row;
    gap: 12px;
}


.search-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.top-nav_search-field-active {
    display: flex;
    width: 448px;
    height: 32px;
    padding: 5px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: var(--color-cornflower-200, #E4E5E7);
    border: transparent;
    cursor: pointer;
}

.icon-wrapper {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 48px;
    border-radius: 4px;
    background: var(--color-cornflower-400, #A3A7B0);
}

/* header - initial search */

.top-nav_search-field {
    display: flex;
    width: 200px;
    height: 32px;
    padding: 5px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: var(--color-lavenderhaze-200, #F3F5FB);
    border: transparent;
    cursor: pointer;
}

.sm-nav_block {
    display: flex;
    width: var(--button-icon_only-width, 32px);
    height: var(--button-height, 32px);
    justify-content: center;
    align-items: center;
    border-radius: var(--button-border_radius, 4px);
    background: var(--color-cornflower-200, #E4E5E7);
}

.lg-nav_block {
    display: flex;
    width: 164px;
    height: var(--button-height, 32px);
    justify-content: center;
    align-items: center;
    border-radius: var(--button-border_radius, 4px);
    background: var(--color-cornflower-200, #E4E5E7);
}


.top-nav_search-left_aligned {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Side Sheet [Default] */

.floating-side-sheet {
    position: absolute;
    margin-top: 56px;
    margin-bottom: 40px;
    top: 0;
    bottom: 0; 
    right: 258px;
    display: flex;
    width: 472px;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--color-cornflower-200, #E4E5E7);
    background: #FFF;
    /* ❌[DEPRECATED]/large 30 */
    box-shadow: 0px 6px 8px 1px rgba(35, 57, 93, 0.15);
}

.search-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0px 16px;
    box-sizing: border-box;
}

.search-container_lower-row {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    box-sizing: content-box;
}

.container-divider {
    width: 100%;
    height: 1px;
    background: var(--color-cornflower-200, #E4E5E7);
}

.dynamic-content_block {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll; 
    flex-direction: column;
    gap: 24px;
    margin-top: 4px;
}

.dynamic-content_block-customize {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll; 
    flex-direction: column;
    gap: 16px;
}

.content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-self: stretch;
    box-sizing: border-box;
}

.content-subtitle_text {
    color: var(--color-cornflower-800, #23395D);
    width: auto;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 150% */
    letter-spacing: 0.36px;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.recent-subtitle_text {
    color: var(--color-cornflower-800, #23395D);
    width: 100%;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 150% */
    letter-spacing: 0.36px;
    align-items: center;
    gap: 8px;
    width: auto;
}

/* Side Sheet [Partial Input] */

.content-section {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow: scroll;
    box-sizing: border-box;
}

.customize_content-section {
    display: flex;
    margin-top: 8px;
    padding: 12px 8px 20px 8px;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--color-blueberry-200, #CED2FC);
    background: var(--color-blueberry-50, #EFF0FE);
    box-shadow: 0px 2px 4px 1px rgba(35, 57, 92, 0.10);
}

.content-subtitle {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.kebab-icon {
    cursor: pointer;
}

.kebab-container {
    position: relative;
    height: auto;
    width: auto;
}

.kebab-option_menu {
    position: absolute;
    right: 16px;
    top: 24px;
    display: flex;
    width: 160px;
    padding: 16px 12px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--menu-border_radius, 4px);
    border: 1px solid var(--color-cornflower-300, #C6C8CE);
    background: var(--menu-background_color, #FFF);
    box-shadow: 0px 2px 4px 1px rgba(35, 57, 92, 0.10);
}

.kebab-option_menu:hover {
    background: var(--menu-option-hover-background_color, #EFF0FE);
    cursor: pointer;
}

.kebab-option_text {
    display: flex;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    overflow: hidden;
    color: var(--menu-option-label-foreground_color, #1B2C48);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

/* Search Field - Side Sheet */

.input-highlight {
    background: rgba(163, 167, 176, 0.32);
}

.search-field {
    display: flex;
    width: 448px;
    padding: 5px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--color-lavenderhaze-200, #F3F5FB);
    justify-content: space-between;
}

.search-left_aligned {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 8px;
}

.search-field_input {
    display: flex;
    flex: 1;
    align-items: center;
    color: var(--color-cornflower-700, #3E5374);
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    border: transparent;
    background-color: transparent;
    outline: none;
}

.search-field_input:placeholder-shown {
    overflow: hidden;
    color: var(--color-cornflower-400, #A3A7B0);
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.clear-search {
    background: transparent;
    border: transparent;
    overflow: hidden;
    color: var(--color-cornflower-600, #626E84);
    text-overflow: ellipsis;
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    cursor: pointer;
}

.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-cornflower-800, #23395D);
    cursor: pointer;
}

.search-divider {
    width: 1px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--color-cornflower-400, #A3A7B0);
}

.quick-filter_button {
    display: flex;
    height: var(--button-height, 32px);
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--button-border_radius, 4px);
    border: 1px solid var(--button-tertiary-default-foreground_color, #4856CB);
    background: var(--button-tertiary-default-background_color, rgba(0, 0, 0, 0.00));
    color: var(--button-tertiary-default-foreground_color, #4856CB);
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    cursor: pointer;
}

.quick-filter_button:hover {
    background-color: var(--color-lavenderhaze-200, #F3F5FB);
}

.quick-filter_button-active {
    display: flex;
    height: var(--button-height, 32px);
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-3xs, 8px);
    border-radius: var(--button-border_radius, 4px);
    background: var(--button-primary-default-background_color, #4856CB);
    border: transparent;
    color: var(--button-primary-default-foreground_color, #FFF);
    /* .ui/button/text */
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    cursor: pointer;
}

.quick-filter_button-active:hover {
    background: var(--color-lavenderhaze-300, #B5BFE6);
}

.advanced-filter_container {
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--color-lavenderhaze-200, #F3F5FB);
}

.help-subtitle_text {
    color: var(--color-primary-main, #4856CB);
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
}

.advanced-filter_container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.filter-placeholder_container {
    display: flex;
    padding: 12px 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px dashed var(--color-lavenderhaze-600, #B5BFE6);
    background: var(--color-lavenderhaze-300, #E8EBF7);
}

.filter-placeholder_text {
    color: var(--color-primary-main, #4856CB);
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.advanced-filter_tag {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    border: 1px solid var(--color-cornflower-400, #A3A7B0);
    background: var(--color-white, #FFF);
    color: var(--color-cornflower-700, #3E5374);
    font-family: "Patrick Hand";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.close-filter_icon {
    cursor: pointer;
}


/* Inline-row - Side Sheet */

.content-header_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 0px 8px 0px;
    align-items: center;
    gap: 12px;
}

.content-header_line {
    display: flex;
    height: 1px;
    width: 100%;
    background: var(--color-cornflower-200, #E4E5E7);


}

.view-more_button {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--color-primary-main, #4856CB);
    background-color: transparent;
    border: transparent;
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    width: 88px;
}

.content-container_subtitle-row {
    display: inline-flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.inline-row {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    padding: 8px 16px;
    box-sizing: border-box;
}

.inline-row:hover {
    display: flex;
    width: 454px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--color-cornflower-100, #F2F2F3);
    padding: 8px 12px 8px 8px;
    margin-left: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.inline-row_nested {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
}

.avatar-container {
    position: relative;
    display: flex;
    width: 44px;
    height: 44px;
    flex-direction: column;
    align-items: flex-start;
}

.avatar-image_active {
    align-self: stretch;
    border-radius: var(--avatar-content-border_radius, 256px);
    border: 4px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(135deg, #09B581 0%, #9DE1CD 100%)

}

.avatar-image_inactive {
    align-self: stretch;
    border-radius: var(--avatar-content-border_radius, 256px);
    border: 4px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(135deg, #F8C73E 0%, #FCE9B2 100%);

}

.page-category_avatar {
    width: 44px; 
    height: 44px;
    border-radius: var(--avatar-content-border_radius, 256px);
}

.group_avatar {
    width: 44px;
    height: 44px;
    border-radius: var(--avatar-content-border_radius, 256px);
}

.avatar-ring_gap {
    width: 36px;
    height: 36px;
    border-radius: 256px;
    position: absolute;
    bottom: 3px;
    left: 3px;
    border: var(--focus_ring-offset, 1.2px) solid var(--color-white, #FFF);
}

.inline-text_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.upper_inline-text_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inline-divider {
    width: 1px;
    height: 10px;
    background-color: var(--color-cornflower-300, #C6C8CE);
}

.inline-activity_bar {
    display: flex;
    align-items: center;
    gap: 4px;
}

.inactive-circle {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: var(--color-warning-main, #F8C73E);
}

.active-circle {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: #09B581;
}

.lower_inline-text_container {
    display: flex;
    flex: 1; 
    align-items: center;
    gap: 8px;
}

.search-text {
    color: var(--color-cornflower-400, #A3A7B0);
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.inline-title_text {
    color: var(--color-cornflower-700, #3E5374);

    /* core/typography/body/sm/semi_bold */
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
}

.primary-inline-body_text {
    color: var(--color-cornflower-600, #626E84);

    /* core/typography/body/sm/regular */
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.secondary-inline-body_text {
    color: var(--color-cornflower-600, #626E84);

    /* core/typography/body/sm/regular */
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    flex: 1 0 0;
}

.inline-bold-body_text {
    color: var(--color-cornflower-700, #3E5374);
    font-family: "Patrick Hand";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.inline-footnote_text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    flex: 1 0 0;
    overflow: hidden;
    color: var(--color-cornflower-500, #767C8D);
    text-overflow: ellipsis;
    font-family: "Noto Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-highlight {
    background-color: lightgrey;
}

.quick-action {
    display: flex;
    padding: 4px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--color-cornflower-100, #F2F2F3);
    background: var(--color-lavenderhaze-100, #FBFCFE);
}

.quick-action-nested {
    display: flex;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chat-icon {
    display: flex;
    width: var(--icon-size-sm, 16px);
    height: 16px;
    justify-content: center;
    align-items: center;
}

.icon-avatar {
    display: flex;
    padding: 7.111px;
    align-items: center;
    gap: 8.889px;
    border-radius: 3.556px;
    background: var(--color-cornflower-100, #F2F2F3);
}

/* Help Section Element */

#search-help_block {
    display: flex;
    width: 100%;
}

.help-block {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--color-lavenderhaze-500, #C6CEEC);
    background: var(--color-lavenderhaze-100, #FBFCFE);
    box-sizing: border-box;
}

.help-block_nested {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.help-block_upper-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4px;
}

.help-title_text {
    color: var(--color-primary-main, #4856CB);
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
}

.help-body_text {
    color: var(--color-primary-main, #4856CB);
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}







